body {
    background-color: black;
}

.wrapper {
    width: 390px;
    height: 680px;
    background: yellow;
    margin-left:auto;
    margin-right:auto;
}

.number {
    display: block;
    width: 100%;
    height: 180px;
    border: none;
    box-sizing:border-box;
    text-align: right;
    padding-right: 30px;
    font-size: 35px;
    font-weight: 500;
}

.pad_wrapper {
}

.pad_line {
    display: flex;
}

.box {
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    color: white;
    background-color: rgb(21, 42, 51);
    font-weight: 500;
    border: 1px solid rgb(18, 35, 45);
}

.box:active {
    background-color: rgb(162, 250, 100);
    color:  rgb(21, 42, 51);
}


.box_2 {
    width: 50%;
    padding-left: 4px;
    padding-right: 4px;
}

.box_1 {
    width: 100px;
}

.clear {
    background: rgb(218, 54, 119)
}

.result {
    background: rgb(65, 144, 187)
}

.top {
    border-top: none;
}

.box {
    /* background: #101B37 */
}

.clear {
    background: #E41376
}

.result {
    background: #01C8EE
}
